<h1>Individual word page</h1>
<table class="table table-striped">
	<thead>
		<th>Word</th>
		<th>Text</th>
		<th>Letters</th>
	</thead>
	<tbody>
		<tr>
			<td><%= "#{@word.id}" %></td>
			<td><%= "#{@word.text}" %></td>
			<td><%= "#{@word.letters}" %></td>
		</tr>
	</tbody>
</table>