<h1>Here are the anagrams for <%= "#{@word}" %>:</h1>
<ul class="anagrams">
	<% if !@anagrams.nil? %>
		<% @anagrams.each do |word| %>
			<li><%= "#{word.text}" %></li>
		<% end %>
	<% end %>
</ul>
<div class="back-button">
	<a href="/"><button type="submit" class="btn">Back</button></a>
</div>